html{
  background-color: #008B8B;
  font-family: 'Monaco';
}

#inner-body {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: greenyellow;
  color: black;
  min-height: 80vh;
}

button {
  font-family: 'Monaco';
  background-color: white;
  width: fit-content;
  height: fit-content;
}

ul {
  list-style: none;
  padding-left:0;
  margin-left: 5px;
}

#home-title {
  text-align: center;
  position: relative;
  padding: 18% 25% 20% 20%;
}

.top-page-title {
  padding-top: 2%;
}

#client-list {
  margin-left: 185px;
  margin-right: 185px;
}

#client-grid {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 215px 215px 215px 215px;
  justify-content: center;
}

.client-grid-item {
  display: grid;
  border: solid;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 215px;
  margin: 16px;
  grid-template-rows: 150px 25px 25px;
}

#client-name {
  overflow-wrap: break-word;
  width: 100px;
  padding-bottom: 3px;
}

#client-edit-form {
  width: 100px;
}

.client-edit-input {
  width:100px
}

.client-button {
  height: 24px;
  width: 100px;
}

#add-new-client {
  display: grid;
  grid-template-columns: 390px 10%;
}

#add-new-client-form {
  display: grid;
  grid-template-columns: 322px 101px;
}

#routines-page {
  margin-left: 185px;
  margin-right: 185px;
}

#routines-grid {
  display: grid;
  margin-top: 3%;
  grid-template-columns: 350px 350px;
  justify-content: center;
}

.routines-grid-item {
  display: grid;
  border: solid;
  min-height: 100px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
  margin-bottom: 16px;
}

.routines-set {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.routines-edit {
  margin-bottom: 5px;
  margin-left: 5px;
}

