html, body {
  background-color: #008B8B;
  color: white;
  font-family: 'Monaco';
}

#inner-body {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: greenyellow;
  color: black;
  height: 100%;
}

header {
  text-align: center;
  padding-top: 1%;
}

button {
  font-family: 'Monaco';
  background-color: white;
  width: fit-content;
  height: fit-content;
}

#client-list {
  margin-left: 185px;
  margin-right: 185px;
}

#client-grid {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 215px 215px 215px 215px;
  justify-content: center;
}

.client-grid-item {
  display: grid;
  border: solid;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 215px;
  margin-left: 16px;
  margin-right: 16px;
  grid-template-rows: 150px 25px 25px;
}

#client-name {
  overflow-wrap: break-word;
  width: 100px;
  padding-bottom: 3px;
}

.client-set-button {
  height: 24px;
  width: 100px;
}

#add-new-client {
  display: grid;
  grid-template-columns: 390px 10%;
}

#add-new-client-form {
  display: grid;
  grid-template-columns: 322px 101px;
}
